NET "CLK"  LOC = "P40";     

NET "UPPER(0)"  LOC = "P15";    
NET "UPPER(1)"  LOC = "P12";    
NET "UPPER(2)"  LOC = "P5"; 
NET "UPPER(3)"  LOC = "P4"; 
NET "UPPER(4)"  LOC = "P94";    
NET "UPPER(5)"  LOC = "P90";
NET "UPPER(6)"  LOC = "P88";    
NET "UPPER(7)"  LOC = "P85";    
NET "UPPER(8)"  LOC = "P82";    
NET "UPPER(9)"  LOC = "P78";    

NET "GEN" LOC = "P34";

NET "Anodes(0)" LOC = "P50"; 
NET "Anodes(1)" LOC = "P49";
NET "Anodes(2)" LOC = "P52";
NET "Anodes(3)" LOC = "P56"; 
NET "Anodes(4)" LOC = "P59";
NET "Anodes(5)" LOC = "P57";
NET "Anodes(6)" LOC = "P60";
NET "Anodes(7)" LOC = "P61";

NET "SevenSegment(0)" LOC = "P64"; 
NET "SevenSegment(1)" LOC = "P98";
NET "SevenSegment(2)" LOC = "P73";
NET "SevenSegment(3)" LOC = "P72";
NET "SevenSegment(4)" LOC = "P65";
NET "SevenSegment(5)" LOC = "P62";
NET "SevenSegment(6)" LOC = "P71";